@import '@angular/material/theming';
@include mat-core();

$custom-app-primary: mat-palette($mat-purple, 900);
$custom-app-secondary: mat-palette($mat-purple, 50, 200);

$custom-theme: mat-light-theme($custom-app-primary, $custom-app-secondary);

@include angular-material-theme($custom-theme);

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


::-webkit-scrollbar {
    width: 4px;
    overflow-y: scroll;
    background: #E2D6EF;
    box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
    background: #511D91;
    border-radius: 10px;
}